Cython
numpy
fastapi
uvicorn
pydantic
pydantic-settings
typing_extensions
httpx
python-multipart
transformers
torch
accelerate
soundfile
librosa
numba
cmake
onnx
pyannote.audio
vllm
huggingface-hub
uvloop
orjson
redis
aiofiles
psutil
gputil
