Cython
numpy>=1.23
h5py>=3.10
fastapi
uvicorn
pydantic
pydantic-settings
typing_extensions
httpx
python-multipart
transformers
torch
accelerate
soundfile
librosa
numba
cmake
onnx
pyannote.audio
nemo_toolkit[asr]
vllm
huggingface-hub
uvloop
orjson
redis
aiofiles
psutil
gputil
